{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Exclusão de Documento{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 text-light bg-dark p-3 rounded text-center">Exclusão de Documento</h1>
    <div class="bg-blk p-4 rounded shadow">
        <form method="post" class="text-light">
            {% csrf_token %}
            <p>Tem certeza que deseja excluir o documento <strong>{{ documento }}</strong>?</p>
            <div class="text-center mt-3">
                <button type="submit" class="btn del-btn">Excluir</button>
                <a href="{% url 'documentos' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
